@charset "utf-8";
/* CSS Document */



.btn-group-sm>.btn, .btn-sm { border-radius:5px; }
body {font-family: 'Raleway', sans-serif !important; font-weight:400}
.regular { font-weight:400 }
.light {font-weight:300 }
.bold {font-weight:700 }

h6 { font-size:16px;}
.box-body { margin-bottom:5px;}
.no-margin { margin:0;}
.no-padding { padding:0;}
.padding{ padding:10px;}
.margin { margin:10px;}
.bg-white { background-color:#fff;}
input.form-control.subscribe { max-width:379px; height:59px; border:none; -webkit-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.3);
-moz-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.3);
box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.3); }
p { font-size:13px; line-height:23px}
.link:hover { color:#f3d112;}
.block { display:block;}
h1 { font-size:34px;}
ul { list-style:none; margin:0; padding:0;}
.line-height { line-height:30px; }
.container-fluid.with-bg { padding:50px 0;}
.text-white { color:#fff !important;}
.bg-light-gray { background:#6f6f6f !important }
.banner { background:url(../img/banner01.jpg) 100% 0 no-repeat #e6e6e6; background-size:cover; padding:80px 0 120px; border-top:#8d8d8d 12px solid}
.banner-text-inner h1 { margin-bottom:40px }
.btn-primary { margin-left:10px; height:59px }
.section-heading { font-size:21px; margin-top:35px; margin-bottom:25px;}
.section-icon { background-image:url(../img/icon-section-sprite.png); width:70px; height:70px; border-radius:50%; margin:0 auto; border:1px solid #e3e3e3; margin-bottom:15px; margin-top:60px;}
.section-icon.section-3 { background-position:-183px 9px;}
.section-icon.section-9 { background-position:-825px 18px;}
.section-icon.section-10 { background-position:-938px 08px;}
.section-container:hover .section-icon.section-3{ background-position:-183px -91px;}
.section-container:hover .section-icon.section-9{ background-position:-825px -81px;}
.section-container:hover .section-icon.section-10{ background-position:-938px -91px;}
.f-text h4 { font-family:Tahoma, Geneva, sans-serif; color:#ccc; font-size:14px; line-height:20px }
.f-text i { font-size:80px; line-height:125px }
.video-bg { background:url(../img/video-bg.jpg) } 
.play-btn i { color:#fff;   width:120px; height:120px; font-size:85px; margin:40px 0 0;    }
footer { padding:80px 0 }
.icon-social { display:inline-block; border:#777 thin solid; border-radius:50%; padding:12px 0px; color:#45454c; width:48px; height:48px; text-align:center; margin-right:30px; margin-bottom:20px;}
.icon-social:last-child { margin-right:0;}
.icon-social i { font-size:22px; color:#777}
.icon-social:hover i { color:#337ab7}
.icon-social:hover {  border:#337ab7 thin solid}
.margin-top-email { margin-top: 20px; }



@media (max-width:500px) {

h1 { font-size: 25px }
.line-height { line-height: 24px; }
h4 { font-size: 15px; }
.btn-primary { margin-left: 0px; height: 45px }
.btn-lg { padding: 5px 15px; font-size: 14px }
.banner { padding: 45px 0 50px; }
h3 { font-size: 18px; }
h2 { font-size: 25px }
.icon-social i { font-size: 16px; }
.icon-social { width: 40px; height: 40px; margin-right: 16px; }
}

@media (max-width:767px) {.submenu li a { padding:10px; font-size:12px;} .submenu li:lst-child a { margin:0;} .navbar-right li a { margin-right:0 5px 0 0 !important;} .f-text i { font-size:50px;  } }
@media (min-width:768px) { .navbar-right { margin-right:0 } .f-text i { font-size:50px;  }  }
@media (min-width:1020px) { .f-text i { font-size:80px;} header { position:fixed !important; width:100%; left:0; top:0px;} .submenu li a { padding:20px 78px;} .submenu li:lst-child a { margin:0;}
.custom-tab.nav-tabs>li.active>a, .custom-tab.nav-tabs>li.active>a:focus, .custom-tab.nav-tabs>li.active>a:hover { background-color:#38a8dd !important; color:#fff;}
.custom-tab.nav-tabs>li.active>a i, .custom-tab.nav-tabs>li.active>a:focus i, .custom-tab.nav-tabs>li.active>a:hover i { color:#fff !important;}
.custom-tab.nav-tabs>li>a { border-radius:5px; padding:15px 15px; border:1px solid #ddd; min-width:96px; margin-right:7rem; text-align:center; font-size:12px; color:#434343;}
.custom-tab.nav-tabs>li:last-child>a { margin-right:0;}
.custom-tab.nav-tabs { border:0;}
.custom-tab li a i { display:block; font-size:32px; margin-top:10px; color:#cccccc;}
.custom-tab.nav-tabs>li>a { margin-right:51px; }
 
}













 